@charset "UTF-8";
.ma-checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    color: #606266;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    user-select: none
}

.ma-checkbox.is-bordered {
    padding: 9px 20px 9px 10px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    height: 40px
}

.ma-checkbox.is-bordered.is-checked {
    border-color: #409EFF
}

.ma-checkbox.is-bordered.is-disabled {
    border-color: #ebeef5;
    cursor: not-allowed
}

.ma-checkbox.is-bordered + .ma-checkbox.is-bordered {
    margin-left: 10px
}

.ma-checkbox.is-bordered.ma-checkbox--small {
    padding: 5px 15px 5px 10px;
    border-radius: 3px;
    height: 32px
}

.ma-checkbox.is-bordered.ma-checkbox--small .ma-checkbox__inner {
    height: 12px;
    width: 12px
}

.ma-checkbox.is-bordered.ma-checkbox--small .ma-checkbox__inner::after {
    height: 6px;
    width: 2px
}

.ma-checkbox.is-bordered.ma-checkbox--mini {
    padding: 3px 15px 3px 10px;
    border-radius: 3px;
    height: 28px
}

.ma-checkbox.is-bordered.ma-checkbox--mini .ma-checkbox__inner {
    height: 12px;
    width: 12px
}

.ma-checkbox.is-bordered.ma-checkbox--mini .ma-checkbox__inner::after {
    height: 6px;
    width: 2px
}

.ma-checkbox__input {
    cursor: pointer;
    outline: 0;
    line-height: 1;
    vertical-align: middle
}

.ma-checkbox__input.is-disabled .ma-checkbox__inner {
    background-color: #edf2fc;
    border-color: #dcdfe6;
    cursor: not-allowed
}

.ma-checkbox__input.is-disabled .ma-checkbox__inner::after {
    cursor: not-allowed;
    border-color: #c0c4cc
}

.ma-checkbox__input.is-disabled .ma-checkbox__inner + .ma-checkbox__label {
    cursor: not-allowed
}

.ma-checkbox__input.is-disabled.is-checked .ma-checkbox__inner {
    background-color: #f2f6fc;
    border-color: #dcdfe6
}

.ma-checkbox__input.is-disabled.is-checked .ma-checkbox__inner::after {
    border-color: #c0c4cc
}

.ma-checkbox__input.is-disabled.is-indeterminate .ma-checkbox__inner {
    background-color: #f2f6fc;
    border-color: #dcdfe6
}

.ma-checkbox__input.is-disabled.is-indeterminate .ma-checkbox__inner::before {
    background-color: #c0c4cc;
    border-color: #c0c4cc
}

.ma-checkbox__input.is-checked .ma-checkbox__inner, .ma-checkbox__input.is-indeterminate .ma-checkbox__inner {
    background-color: #409EFF;
    border-color: #409EFF
}

.ma-checkbox__input.is-disabled + span.ma-checkbox__label {
    color: #c0c4cc;
    cursor: not-allowed
}

.ma-checkbox__input.is-checked .ma-checkbox__inner::after {
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1)
}

.ma-checkbox__input.is-checked + .ma-checkbox__label {
    color: #409EFF
}

.ma-checkbox__input.is-focus .ma-checkbox__inner {
    border-color: #409EFF
}

.ma-checkbox__input.is-indeterminate .ma-checkbox__inner::before {
    content: '';
    position: absolute;
    display: block;
    background-color: #fff;
    height: 2px;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    left: 0;
    right: 0;
    top: 5px
}

.ma-checkbox__input.is-indeterminate .ma-checkbox__inner::after {
    display: none
}

.ma-checkbox__inner {
    display: inline-block;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: border-color 0.25s cubic-bezier(.71, -.46, .29, 1.46), background-color 0.25s cubic-bezier(.71, -.46, .29, 1.46);
    transition: border-color 0.25s cubic-bezier(.71, -.46, .29, 1.46), background-color 0.25s cubic-bezier(.71, -.46, .29, 1.46)
}

.ma-checkbox__inner:hover {
    border-color: #409EFF
}

.ma-checkbox__inner::after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform 0.15s ease-in 0.05s;
    transition: -webkit-transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s;
    transition: transform 0.15s ease-in 0.05s, -webkit-transform 0.15s ease-in 0.05s;
    -webkit-transform-origin: center;
    transform-origin: center
}

.ma-checkbox__original {
    opacity: 0;
    outline: 0;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1
}

.ma-checkbox__label {
    display: inline-block;
    padding-left: 10px;
    line-height: 19px;
    font-size: 14px
}

.ma-checkbox + .ma-checkbox {
    margin-left: 30px
}